.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  background-color: #242B36; }

input {
  outline: none;
  border-style: none; }

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.message-gateway,
.placeholder,
footer {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 960px; }

/* Custom page header */
header {
  position: relative;
  border-bottom: 1px solid #617AA1;
  /* Make the masthead heading the same height as the navigation */ }
  header h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-family: 'Droid Serif', serif;
    font-weight: 700;
    color: white; }

.logo-reload {
  cursor: pointer; }

.chat {
  display: inline-block;
  padding-left: 2px;
  font-weight: 400;
  color: #9EB1CE; }

.button {
  padding: 5px 15px 5px 15px;
  background-color: #617AA1;
  border-radius: 4px;
  color: white;
  font-size: 1.2em;
  letter-spacing: .05em;
  text-align: center;
  line-height: 27px;
  cursor: pointer; }
  .button:hover {
    background-color: #91AAD0;
    border: 1px solid white; }
  .button:active {
    background-color: white;
    border: 1px solid #91AAD0;
    color: #91AAD0; }

.login-form {
  display: none; }

.login {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
  width: 60px;
  height: 30px; }

.login-type {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
  color: #617AA1;
  height: 30px;
  border-radius: 4px; }

.username {
  position: absolute;
  display: none;
  top: 11px;
  right: 0px;
  width: 200px;
  height: 30px;
  color: #AEC0DD;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: .05em;
  text-align: center;
  line-height: 27px; }

.placeholder {
  position: relative;
  height: 420px;
  color: #F2F5F9; }
  .placeholder h1 {
    position: absolute;
    font-family: 'Droid Serif', serif;
    top: -5px;
    right: 20px; }
  .placeholder h2 {
    position: absolute;
    font-family: 'Droid Serif', serif;
    top: -10px;
    right: 20px; }

.word-box-one {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 392px;
  height: 65px;
  background: #617AA1;
  border-color: #617AA1;
  border-radius: 4px 4px 0 4px;
  line-height: 65px; }

.word-box-two {
  position: absolute;
  top: 75px;
  right: 10px;
  width: 317px;
  height: 55px;
  background: #617AA1;
  border-color: #617AA1;
  border-radius: 0 0 0 4px;
  line-height: 55px; }
  .word-box-two:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0px;
    background: #617AA1;
    border-color: #617AA1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #617AA1 transparent transparent;
    -webkit-box-shadow: 4px 5px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 4px 5px 3px 0 rgba(0, 0, 0, 0.3); }

.word-box-one,
.word-box-two {
  -webkit-box-shadow: 4px 5px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 3px 0 rgba(0, 0, 0, 0.3); }

.message-gateway {
  display: none;
  padding: 30px 0 30px 0; }

.message-area {
  height: 350px;
  overflow-y: auto;
  border-bottom: 1px solid #617AA1;
  background-color: #FCFDFF; }

.message-container {
  position: relative;
  display: block;
  margin: 10px 0 0 0;
  padding: 15px;
  border-bottom: 1px solid #617AA1; }

.user,
.message,
.time {
  padding-bottom: 5px; }

.user {
  margin-bottom: 3px;
  font-size: 1.07em;
  color: #617AA1;
  text-decoration: underline; }

.message {
  margin-left: 3px;
  color: #242B36; }

.time {
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: 'Droid Serif', serif;
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
  color: #617AA1; }

img {
  max-width: 720px; }

.message-type {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 0 5px 0;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  color: #617AA1; }

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #617AA1;
  color: #617AA1; }

/* Responsive: Portrait tablets and up */

/*# sourceMappingURL=main.css.map */
