$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.message-area,
.message-post,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.button {
    background-color: grey;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    letter-spacing: .05em;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

.login-form {
    display: none;
}

.login {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 20px;
    width: 60px;
    height: 30px;
}

.login-type {
    // display: none;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 20px;
    color: grey;
    height: 30px;
    border-radius: 4px;
}

.username {
    position: absolute;
    display: none;
    top: 5px;
    right: 20px;
    width: 200px;
    height: 30px;
    color: grey;
    font-size: 1em;
    letter-spacing: .05em;
    line-height: .05em;
    text-align: center;
    line-height: 27px;
}

//Overall Message container
.message-gateway {
    display: none;
}

// Message Area
.message-area {
    height: 350px;
    overflow-y: auto; 
    border-bottom: 1px solid #e5e5e5;
}

.message-container {
    position: relative;
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

img {
    max-width: 720px;
}

// Message Post
.message-post {
    position: relative;
    height: 70px;
}

.message-type {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 150px;
    width: 450px;
    height: 30px;
    border-radius: 4px;
    color: grey;
}

.post {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

}
